# ===============================
# VARIABLES / SECRETOS
# ===============================
.env
**/.env

# ===============================
# LLAVES PRIVADAS
# ===============================
*.pem
*.key
keys/

# ===============================
# JAVA / MAVEN
# ===============================
target/
*.class

# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc
.venv/
venv/

# ===============================
# NODE / FRONTEND
# ===============================
node_modules/
dist/

# ===============================
# IDE
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# LOGS
# ===============================
*.log

# ===============================
# SISTEMA
# ===============================
.DS_Store
Thumbs.db